

/*상단바*/
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  
}

  .app-header {  
    top: 0; /* 페이지 상단에 위치 */
    left: 0; /* 왼쪽 끝에 위치 */
    right: 0; /* 오른쪽 끝까지 확장 */
   
    z-index: 10; /* 다른 요소 위에 표시 */
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-between; /* 요소 간 간격 조정 */
    align-items: center; /* 세로 가운데 정렬 */
    padding: 0 20px; /* 좌우 여백 */
}


.title-group{
 
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  gap: 10px;  
  margin-bottom: 10px;
}

.right-section {
 
  display: flex;
  align-items: center; /* 가로로 나란히 정렬 */
  margin-top: 40px; /* 아래로 30px 만큼 내림 (값은 조절 가능) */
  gap: 10px; /* 아이콘 사이의 간격 */
}

.mascot-logo {
  width: 0px;
  margin-right: 40px; /* 로고와 문구 사이의 간격 */
}

/* 로고 이미지 크기 조절 */
.app-main_mascot {
  height: 60px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.app-main_bell {
  height: 35px;
  margin-bottom: 10px;
}

.app-main_message {
  height: 35px;
  margin-bottom:10px;
}


.app-main_my {
  height: 35px;
  margin-bottom: 10px;
  margin-left: 6px;

}

/* 공지사항 텍스트  width: 100%;
  height: 30%;*/
.title-text {
  font-size: 0.9rem ;

  color: #000000;
  margin-bottom: 20px;  /* 텍스트 아래에 여백 */
  margin-top: 10px;  /* 텍스트 위에 여백 */
}


/* INFO 텍스트 */
h2 {
  font-size: 2.0rem ;
  color: #0056A0;
  margin-bottom: 0px;
  margin-top: 43px;
  margin-right: 5px;  /* 텍스트 오른쪽에 여백 */

}
