/* Container 전체 설정 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  /* 로고 스타일 */
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
 
  .group-info {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-left: -250px; /* 왼쪽으로 20px 이동 */
    gap: 10px;  
    margin-top: -130px; /* 왼쪽으로 220px 이동 */
  }

  .title {
    font-size: 2rem;
    color: #0056A0;
    margin-left: 10px; /* 로고와 텍스트 간격 */

  }

  /* h1 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 25px;
  } */
  
  .loginBox {
    background-color: #73B3E3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin-bottom: -20px; /* 왼쪽으로 220px 이동 */
  }

  /* 입력 폼 스타일 */
  .form-container {
    background-color: #73B3E3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-group .input-btn {
    width: 30%;
    padding: 8px;
    margin-left: 10px;
    background-color: #0056A0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* 닫기 버튼 스타일 */
  .close-btn {
    width: 100%;
    padding: 10px;
    background-color: #0056A0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .app-back_logo {
    height: 100px;
    margin-bottom: 40px;
    margin-right: -20px;
}