/* 데스크탑 전용 CSS 설정 */
@media (min-width: 769px) {
    .desktopTitleContainer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .desktopGoBackButton {
        height: 3rem;
        margin-left: 40px;
        margin-top: 15px;
    }
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.subtitle {
    font-size: 0.8rem; /* 작은 크기로 설정 */
    color: black; /* 원하는 색상으로 설정 */
    margin-top: -20px;
  }

.pageTitle {
    margin-top: -130px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.goBackButton {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 10px;
}

.languageSelection {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.languageSelectionContainer {
    display: flex;
    align-items: center;
    gap: 10px; /* 언어 선택과 버튼들 사이의 간격 */
}

.languageSelectionLabel {
    font-size: 0.9rem;
    font-weight: bold;
}

.languageButton {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.activeLanguageButton {
    background-color: #244A95;
    color: white;
    border: none;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px; /* 제목과 입력 필드 사이의 간격 */
    margin-top: 0px; /* 다른 섹션과의 간격 */
}

.inputLabel {
    font-size: 0.9rem;
    font-weight: bold;
    min-width: 80px; /* 일정한 너비로 유지해 제목과 입력 필드 정렬을 맞추기 */
    margin-left: 13px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    margin-left: -20px;
}

.imageUpload {
    display: flex;
    align-items: center;
}

.plusIcon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.imageInput {
    display: none;
}

.textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    resize: none;
    width: 340px;
    height: 150px;
    margin-left: -20px;
}

.submitButton {
    background-color: #244A95;
    color: white;
    padding:10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.submitButton:hover {
    background-color: #1a3571;
}
